## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [125]:
a = 12320
print (a)

12320

2) Imprimir el tipo de dato de la constante 8.5

In [ ]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [ ]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre = 'Francisco Bogado'

5) Crear una variable que contenga un número complejo

In [ ]:
n_complejo = 4 + 6j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [ ]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
pi = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
var1 = 'True'
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
print ('La variable 1 es de tipo', type(var1), 'Y la variable 2 es de tipo', type(var2))

La variable 1 es de tipo <class 'str'> Y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [ ]:
a = 3 + 6.5

11) Realizar una operación de suma de números complejos

In [ ]:
a = 6 + 1j
c = 2 + 6j
print (a + b)

(6+24j)

12) Realizar una operación de suma de un número real y otro complejo

In [ ]:
c = a + 3.4
print (c)

(9.4+1j)

13) Realizar una operación de multiplicación

In [ ]:
a = 10
b = 115
print (a * b)

1150

14) Mostrar el resultado de elevar 2 a la octava potencia

In [ ]:
print (2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [ ]:
a = 27/4
print (a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [ ]:
print (27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [ ]:
print (27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [ ]:
print (6 * 4 + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [ ]:
var1 = 'Buenas'
var2 = ' Tardes'
var3 = ' , ¿Como estás?'
print (var1 + var2 + var3)

Buenas Tardes , ¿Como estás?

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
print (2 == '2')

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [ ]:
print (2 == int('2'))

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
a = float('3,8')
#Arroja error porque en Python debe usarse el . en los decimales no las comas 

#Forma correcta
a = float('3.8')

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [ ]:
a = 3
a -= 1
print (a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
print (1<<2)
# Esto ocurre porque hay un desplazamiento de bits hacía la izquiera en el numero 1, es representado como 0001.
# El numero 1 se desplaza 2 veces como indica 0100 su resultado en decimal representa 4
# Como explican en la teoría cuando hay desplazamiento de bits a la izquiera (<<) multiplica el número original por 2 elevado a la potencia del numero de posiciones desplazadas.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
print (2 + '2')
#Salta error porque son operando de distintos tipos.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [ ]:
var1 = 'esto se repetirá '
var2 =  3 
print (var1 * var2 + str(var2) + ' veces')

esto se repetirá esto se repetirá esto se repetirá 3 veces